
.bloco{
    text-size-adjust: 70px;
    color: aliceblue;
    margin: 50px;
    padding: 60px;
    border-radius: 5px;
    display: inline-block;
}
.bloco-div{
    padding-top: 90px;
    color: aliceblue;
    text-align: center;
}
.pa{
    font-size: 50px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #1449f7;
  background: linear-gradient(90deg, rgb(129, 173, 230) 0%, rgb(79, 142, 209) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(59, 117, 216, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #0099ff;
    box-shadow: 0 0 60px rgba(0, 136, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  