body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 30px;
}


form{
    display: flex;
    
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
}

input{
    max-width:150px;

}
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}